In [6]:
import pandas as pd 

df = pd.read_csv('NEET_2024_RESULTS.csv')

df

,dummy_srlno,marks,state,city,center_name,center_number
0,1101010001,46,ANDAMAN AND NICOBAR ISLANDS (UT),PORT BLAIR,KENDRIYA VIDYALAYA NO. 1,110101
1,1101010002,226,ANDAMAN AND NICOBAR ISLANDS (UT),PORT BLAIR,KENDRIYA VIDYALAYA NO. 1,110101
2,1101010003,449,ANDAMAN AND NICOBAR ISLANDS (UT),PORT BLAIR,KENDRIYA VIDYALAYA NO. 1,110101
3,1101010004,424,ANDAMAN AND NICOBAR ISLANDS (UT),PORT BLAIR,KENDRIYA VIDYALAYA NO. 1,110101
4,1101010005,222,ANDAMAN AND NICOBAR ISLANDS (UT),PORT BLAIR,KENDRIYA VIDYALAYA NO. 1,110101
...,...,...,...,...,...,...
2333115,4613120135,279,WEST BENGAL,KALYANI,CHAKDAHA MODEL SCHOOL,461312
2333116,4613120136,102,WEST BENGAL,KALYANI,CHAKDAHA MODEL SCHOOL,461312
2333117,4613120137,14,WEST BENGAL,KALYANI,CHAKDAHA MODEL SCHOOL,461312
2333118,4613120138,179,WEST BENGAL,KALYANI,CHAKDAHA MODEL SCHOOL,461312
2333119,4613120139,91,WEST BENGAL,KALYANI,CHAKDAHA MODEL SCHOOL,461312

In [8]:
# Find the top 10 marks
top_10_marks = df['marks'].nlargest(10)

# Display the top 10 marks
print("Top 10 Marks:")
print(top_10_marks)

Top 10 Marks:
12526     720
18807     720
19977     720
21178     720
126179    720
157193    720
210943    720
224286    720
355653    720
375016    720
Name: marks, dtype: int64

In [12]:
df[df['marks'] == 720]

,dummy_srlno,marks,state,city,center_name,center_number
12526,1203040201,720,ANDHRA PRADESH,NELLORE,PADMAVATHI VIDYALAYA SULLURPETA NELLORE AP,120304
18807,1205011150,720,ANDHRA PRADESH,VIJAYAWADA,POTTI SRIRAMULU CHALAVADI MALLIKARJUNA RAO COL...,120501
19977,1205030130,720,ANDHRA PRADESH,VIJAYAWADA,KAKARAPARTI BHAVANARAYANA COLLEGE,120503
21178,1205040383,720,ANDHRA PRADESH,VIJAYAWADA,DHANEKULA INSTITUTE OF ENGINEERING & TECHNOLOGY,120504
126179,1504020621,720,BIHAR,MADHUBANI,POLE STAR,150402
...,...,...,...,...,...,...
2153287,4408010959,720,UTTAR PRADESH,LUCKNOW,S.D.S.N. MAHAVIDYALAYA,440801
2201823,4502010321,720,UTTARAKHAND,HALDWANI,SRI GURU TEG BAHADUR SR. SEC. SCHOOL,450201
2260373,4608060485,720,WEST BENGAL,KOLKATA,RCC INSTITUTE OF INFORMATION TECHNOLOGY,460806
2279106,4615020497,720,WEST BENGAL,MURSHIDABAD,GUIDANCE FOUNDATION,461502
2314683,4609020058,720,WEST BENGAL,SILIGURI,D.A.V SCHOOL,460902